## Preprocessing

In [86]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

What variable(s) are the target(s) for your model?

IS_SUCCESSFUL

What variable(s) are the feature(s) for your model?

APPLICATION_TYPE, AFFILIATION, CLASSIFICATION, USE_CASE, ORGANIZATION, STATUS, INCOME_AMT, SPECIAL_CONSIDERATIONS, ASK_AMT

In [87]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN", "NAME"], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [88]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [89]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [90]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_value_counts = application_df["APPLICATION_TYPE"].value_counts()
application_types_to_replace = []
for index, value in application_types_value_counts.items():
    if value < 500:
      application_types_to_replace.append(index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [91]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [92]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts = application_df["CLASSIFICATION"].value_counts()
for index, value in classification_value_counts.items():
    if value > 1:
      print(index,value)

C1000 17326
C2000 6074
C1200 4837
C3000 1918
C2100 1883
C7000 777
C1700 287
C4000 194
C5000 116
C1270 114
C2700 104
C2800 95
C7100 75
C1300 58
C1280 50
C1230 36
C1400 34
C7200 32
C2300 32
C1240 30
C8000 20
C7120 18
C1500 16
C1800 15
C6000 15
C1250 14
C8200 11
C1238 10
C1278 10
C1235 9
C1237 9
C7210 7
C2400 6
C1720 6
C4100 6
C1257 5
C1600 5
C1260 3
C2710 3
C0 3
C3200 2
C1234 2
C1246 2
C1267 2
C1256 2

In [93]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_value_counts = application_df["CLASSIFICATION"].value_counts()
classifications_to_replace = []
for index, value in classification_value_counts.items():
    if value < 1000:
      classifications_to_replace.append(index)
classifications_to_replace
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [94]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=["APPLICATION_TYPE", "CLASSIFICATION", "AFFILIATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"])

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL.values
X = application_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
# Optimized by adding more training data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

## Optimization Attempt 1: Increase number of epochs, increase number of hidden layers, increase number of nodes in layers.

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
# Optimized by adding more neurons. I chose to do 3x the number of inputs
nn.add(tf.keras.layers.Dense(units=129, activation="relu", input_dim=43))

# Optimized by adding more neurons and hidden layers
nn.add(tf.keras.layers.Dense(units=100, activation="relu"))
nn.add(tf.keras.layers.Dense(units=75, activation="relu"))
nn.add(tf.keras.layers.Dense(units=50, activation="relu"))
nn.add(tf.keras.layers.Dense(units=25, activation="relu"))
nn.add(tf.keras.layers.Dense(units=10, activation="relu"))
nn.add(tf.keras.layers.Dense(units=5, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 129)               5676

 dense_1 (Dense)             (None, 100)               13000

 dense_2 (Dense)             (None, 75)                7575

 dense_3 (Dense)             (None, 50)                3800

 dense_4 (Dense)             (None, 25)                1275

 dense_5 (Dense)             (None, 10)                260

 dense_6 (Dense)             (None, 5)                 55

 dense_7 (Dense)             (None, 1)                 6

=================================================================
Total params: 31647 (123.62 KB)
Trainable params: 31647 (123.62 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
# Optimized by adding more epochs
fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
858/858 [==============================] - 8s 5ms/step - loss: 0.5723 - accuracy: 0.7194
Epoch 2/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5572 - accuracy: 0.7288
Epoch 3/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5554 - accuracy: 0.7290
Epoch 4/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5535 - accuracy: 0.7293
Epoch 5/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5527 - accuracy: 0.7293
Epoch 6/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5510 - accuracy: 0.7320
Epoch 7/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5503 - accuracy: 0.7313
Epoch 8/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5493 - accuracy: 0.7324
Epoch 9/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5488 - accuracy: 0.7322
Epoch 10/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5484 - accuracy: 0.7317
Epoch 11/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5479 - accuracy: 0.7319
Epoch 12/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5471 - accuracy: 0.7329
Epoch 13/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5466 - accuracy: 0.7341
Epoch 14/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5465 - accuracy: 0.7339
Epoch 15/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5458 - accuracy: 0.7340
Epoch 16/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5457 - accuracy: 0.7344
Epoch 17/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5453 - accuracy: 0.7330
Epoch 18/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5450 - accuracy: 0.7337
Epoch 19/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5442 - accuracy: 0.7348
Epoch 20/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5441 - accuracy: 0.7343
Epoch 21/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5433 - accuracy: 0.7358
Epoch 22/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5438 - accuracy: 0.7348
Epoch 23/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5432 - accuracy: 0.7351
Epoch 24/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5428 - accuracy: 0.7346
Epoch 25/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5424 - accuracy: 0.7345
Epoch 26/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5434 - accuracy: 0.7351
Epoch 27/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5416 - accuracy: 0.7366
Epoch 28/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5424 - accuracy: 0.7353
Epoch 29/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5416 - accuracy: 0.7360
Epoch 30/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5416 - accuracy: 0.7354
Epoch 31/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5402 - accuracy: 0.7364
Epoch 32/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5410 - accuracy: 0.7352
Epoch 33/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5398 - accuracy: 0.7364
Epoch 34/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5407 - accuracy: 0.7357
Epoch 35/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5408 - accuracy: 0.7352
Epoch 36/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5399 - accuracy: 0.7354
Epoch 37/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5400 - accuracy: 0.7375
Epoch 38/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5398 - accuracy: 0.7353
Epoch 39/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5396 - accuracy: 0.7368
Epoch 40/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5392 - accuracy: 0.7374
Epoch 41/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5399 - accuracy: 0.7359
Epoch 42/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5394 - accuracy: 0.7371
Epoch 43/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5387 - accuracy: 0.7371
Epoch 44/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5385 - accuracy: 0.7372
Epoch 45/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5384 - accuracy: 0.7377
Epoch 46/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5390 - accuracy: 0.7362
Epoch 47/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5386 - accuracy: 0.7367
Epoch 48/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5380 - accuracy: 0.7364
Epoch 49/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5386 - accuracy: 0.7379
Epoch 50/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5381 - accuracy: 0.7374
Epoch 51/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5384 - accuracy: 0.7379
Epoch 52/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5373 - accuracy: 0.7380
Epoch 53/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5386 - accuracy: 0.7371
Epoch 54/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5384 - accuracy: 0.7363
Epoch 55/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5378 - accuracy: 0.7376
Epoch 56/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5393 - accuracy: 0.7374
Epoch 57/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5385 - accuracy: 0.7371
Epoch 58/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5371 - accuracy: 0.7382
Epoch 59/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5383 - accuracy: 0.7376
Epoch 60/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5373 - accuracy: 0.7385
Epoch 61/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5381 - accuracy: 0.7375
Epoch 62/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5372 - accuracy: 0.7387
Epoch 63/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5368 - accuracy: 0.7385
Epoch 64/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5374 - accuracy: 0.7378
Epoch 65/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5379 - accuracy: 0.7377
Epoch 66/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5375 - accuracy: 0.7366
Epoch 67/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5370 - accuracy: 0.7374
Epoch 68/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5375 - accuracy: 0.7373
Epoch 69/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5361 - accuracy: 0.7380
Epoch 70/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5367 - accuracy: 0.7381
Epoch 71/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5390 - accuracy: 0.7382
Epoch 72/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5366 - accuracy: 0.7383
Epoch 73/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5362 - accuracy: 0.7381
Epoch 74/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5366 - accuracy: 0.7371
Epoch 75/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5368 - accuracy: 0.7386
Epoch 76/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5366 - accuracy: 0.7371
Epoch 77/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5369 - accuracy: 0.7375
Epoch 78/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5381 - accuracy: 0.7371
Epoch 79/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5377 - accuracy: 0.7366
Epoch 80/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5377 - accuracy: 0.7372
Epoch 81/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5368 - accuracy: 0.7373
Epoch 82/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5365 - accuracy: 0.7380
Epoch 83/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5363 - accuracy: 0.7380
Epoch 84/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5367 - accuracy: 0.7374
Epoch 85/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5373 - accuracy: 0.7385
Epoch 86/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5363 - accuracy: 0.7381
Epoch 87/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5358 - accuracy: 0.7386
Epoch 88/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5355 - accuracy: 0.7385
Epoch 89/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5366 - accuracy: 0.7379
Epoch 90/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5367 - accuracy: 0.7377
Epoch 91/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5361 - accuracy: 0.7392
Epoch 92/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5362 - accuracy: 0.7379
Epoch 93/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5353 - accuracy: 0.7381
Epoch 94/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5353 - accuracy: 0.7383
Epoch 95/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5364 - accuracy: 0.7381
Epoch 96/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5360 - accuracy: 0.7377
Epoch 97/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5376 - accuracy: 0.7381
Epoch 98/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5354 - accuracy: 0.7388
Epoch 99/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5349 - accuracy: 0.7389
Epoch 100/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5350 - accuracy: 0.7393
Epoch 101/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5362 - accuracy: 0.7386
Epoch 102/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5353 - accuracy: 0.7385
Epoch 103/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5352 - accuracy: 0.7381
Epoch 104/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5353 - accuracy: 0.7380
Epoch 105/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5350 - accuracy: 0.7376
Epoch 106/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5353 - accuracy: 0.7391
Epoch 107/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5351 - accuracy: 0.7380
Epoch 108/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5360 - accuracy: 0.7381
Epoch 109/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5363 - accuracy: 0.7385
Epoch 110/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5345 - accuracy: 0.7381
Epoch 111/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5362 - accuracy: 0.7385
Epoch 112/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5347 - accuracy: 0.7391
Epoch 113/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5355 - accuracy: 0.7391
Epoch 114/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5354 - accuracy: 0.7381
Epoch 115/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5351 - accuracy: 0.7381
Epoch 116/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5355 - accuracy: 0.7376
Epoch 117/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5352 - accuracy: 0.7388
Epoch 118/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5368 - accuracy: 0.7388
Epoch 119/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5359 - accuracy: 0.7382
Epoch 120/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5353 - accuracy: 0.7381
Epoch 121/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5352 - accuracy: 0.7382
Epoch 122/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5356 - accuracy: 0.7376
Epoch 123/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5346 - accuracy: 0.7389
Epoch 124/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5351 - accuracy: 0.7394
Epoch 125/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5371 - accuracy: 0.7373
Epoch 126/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5353 - accuracy: 0.7381
Epoch 127/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5343 - accuracy: 0.7392
Epoch 128/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5350 - accuracy: 0.7384
Epoch 129/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5356 - accuracy: 0.7372
Epoch 130/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5366 - accuracy: 0.7375
Epoch 131/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5350 - accuracy: 0.7378
Epoch 132/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5360 - accuracy: 0.7378
Epoch 133/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5352 - accuracy: 0.7377
Epoch 134/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5344 - accuracy: 0.7386
Epoch 135/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5349 - accuracy: 0.7360
Epoch 136/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5345 - accuracy: 0.7381
Epoch 137/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5351 - accuracy: 0.7368
Epoch 138/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5349 - accuracy: 0.7372
Epoch 139/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5349 - accuracy: 0.7368
Epoch 140/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5349 - accuracy: 0.7377
Epoch 141/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5346 - accuracy: 0.7376
Epoch 142/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5349 - accuracy: 0.7381
Epoch 143/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5351 - accuracy: 0.7373
Epoch 144/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5346 - accuracy: 0.7371
Epoch 145/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5344 - accuracy: 0.7375
Epoch 146/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5344 - accuracy: 0.7377
Epoch 147/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5352 - accuracy: 0.7374
Epoch 148/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5354 - accuracy: 0.7365
Epoch 149/150
858/858 [==============================] - 4s 5ms/step - loss: 0.5351 - accuracy: 0.7365
Epoch 150/150
858/858 [==============================] - 4s 4ms/step - loss: 0.5346 - accuracy: 0.7382

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.5975 - accuracy: 0.7290 - 1s/epoch - 5ms/step
Loss: 0.5975016355514526, Accuracy: 0.7290087342262268

## Attempt 2: Binning ASK_AMT

In [95]:
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [96]:
application_df["ASK_AMT"].min()

5000

In [97]:
application_df["ASK_AMT"].max()

8597806340

In [98]:
application_df["ASK_AMT"].value_counts()

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

I'm noticing that most of the dataframe has ASK_AMT = 5000, which is also the minimum value. Perhaps we could just make this column into a binary of those that are 5000 and those that are over.

In [100]:
application_df_2 = application_df.copy()
application_df_2["ASK_AMT_binary"] = 0

for index, row in application_df.iterrows():
    ASK_AMT = application_df_2.loc[index,"ASK_AMT"]
    if ASK_AMT == 5000:
        application_df_2.loc[index,"ASK_AMT_binary"] = "ASK_AMT equals 5000"
    else:
        application_df_2.loc[index,"ASK_AMT_binary"] = "ASK_AMT over 5000"

application_df_2 = pd.get_dummies(application_df_2, columns=["ASK_AMT_binary"])
application_df_2.drop("ASK_AMT", axis=1, inplace=True)
application_df_2

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_binary_ASK_AMT equals 5000,ASK_AMT_binary_ASK_AMT over 5000
0,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
3,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,1,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
34295,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
34296,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
34297,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
34298,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1

In [50]:
# Split our preprocessed data into our features and target arrays
y = application_df_2.IS_SUCCESSFUL.values
X = application_df_2.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [51]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [55]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=44))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3600

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 6061 (23.68 KB)
Trainable params: 6061 (23.68 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [56]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [57]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 743us/step - loss: 0.5696 - accuracy: 0.7211
Epoch 2/100
804/804 [==============================] - 1s 767us/step - loss: 0.5539 - accuracy: 0.7294
Epoch 3/100
804/804 [==============================] - 1s 786us/step - loss: 0.5524 - accuracy: 0.7287
Epoch 4/100
804/804 [==============================] - 1s 719us/step - loss: 0.5501 - accuracy: 0.7282
Epoch 5/100
804/804 [==============================] - 1s 730us/step - loss: 0.5492 - accuracy: 0.7292
Epoch 6/100
804/804 [==============================] - 1s 719us/step - loss: 0.5481 - accuracy: 0.7313
Epoch 7/100
804/804 [==============================] - 1s 713us/step - loss: 0.5474 - accuracy: 0.7316
Epoch 8/100
804/804 [==============================] - 1s 720us/step - loss: 0.5467 - accuracy: 0.7294
Epoch 9/100
804/804 [==============================] - 1s 727us/step - loss: 0.5463 - accuracy: 0.7325
Epoch 10/100
804/804 [==============================] - 1s 737us/step - loss: 0.5453 - accuracy: 0.7315
Epoch 11/100
804/804 [==============================] - 1s 728us/step - loss: 0.5445 - accuracy: 0.7334
Epoch 12/100
804/804 [==============================] - 1s 728us/step - loss: 0.5445 - accuracy: 0.7320
Epoch 13/100
804/804 [==============================] - 1s 725us/step - loss: 0.5442 - accuracy: 0.7321
Epoch 14/100
804/804 [==============================] - 1s 724us/step - loss: 0.5432 - accuracy: 0.7334
Epoch 15/100
804/804 [==============================] - 1s 720us/step - loss: 0.5433 - accuracy: 0.7324
Epoch 16/100
804/804 [==============================] - 1s 721us/step - loss: 0.5425 - accuracy: 0.7342
Epoch 17/100
804/804 [==============================] - 1s 726us/step - loss: 0.5429 - accuracy: 0.7336
Epoch 18/100
804/804 [==============================] - 1s 750us/step - loss: 0.5423 - accuracy: 0.7327
Epoch 19/100
804/804 [==============================] - 1s 815us/step - loss: 0.5421 - accuracy: 0.7333
Epoch 20/100
804/804 [==============================] - 1s 746us/step - loss: 0.5415 - accuracy: 0.7341
Epoch 21/100
804/804 [==============================] - 1s 744us/step - loss: 0.5418 - accuracy: 0.7346
Epoch 22/100
804/804 [==============================] - 1s 743us/step - loss: 0.5412 - accuracy: 0.7343
Epoch 23/100
804/804 [==============================] - 1s 728us/step - loss: 0.5413 - accuracy: 0.7355
Epoch 24/100
804/804 [==============================] - 1s 737us/step - loss: 0.5406 - accuracy: 0.7351
Epoch 25/100
804/804 [==============================] - 1s 751us/step - loss: 0.5406 - accuracy: 0.7361
Epoch 26/100
804/804 [==============================] - 1s 719us/step - loss: 0.5407 - accuracy: 0.7346
Epoch 27/100
804/804 [==============================] - 1s 728us/step - loss: 0.5403 - accuracy: 0.7350
Epoch 28/100
804/804 [==============================] - 1s 732us/step - loss: 0.5398 - accuracy: 0.7358
Epoch 29/100
804/804 [==============================] - 1s 743us/step - loss: 0.5395 - accuracy: 0.7362
Epoch 30/100
804/804 [==============================] - 1s 725us/step - loss: 0.5393 - accuracy: 0.7362
Epoch 31/100
804/804 [==============================] - 1s 709us/step - loss: 0.5391 - accuracy: 0.7370
Epoch 32/100
804/804 [==============================] - 1s 721us/step - loss: 0.5387 - accuracy: 0.7366
Epoch 33/100
804/804 [==============================] - 1s 732us/step - loss: 0.5388 - accuracy: 0.7367
Epoch 34/100
804/804 [==============================] - 1s 728us/step - loss: 0.5381 - accuracy: 0.7376
Epoch 35/100
804/804 [==============================] - 1s 727us/step - loss: 0.5386 - accuracy: 0.7365
Epoch 36/100
804/804 [==============================] - 1s 719us/step - loss: 0.5388 - accuracy: 0.7364
Epoch 37/100
804/804 [==============================] - 1s 719us/step - loss: 0.5378 - accuracy: 0.7376
Epoch 38/100
804/804 [==============================] - 1s 720us/step - loss: 0.5383 - accuracy: 0.7369
Epoch 39/100
804/804 [==============================] - 1s 729us/step - loss: 0.5379 - accuracy: 0.7380
Epoch 40/100
804/804 [==============================] - 1s 734us/step - loss: 0.5377 - accuracy: 0.7381
Epoch 41/100
804/804 [==============================] - 1s 731us/step - loss: 0.5373 - accuracy: 0.7372
Epoch 42/100
804/804 [==============================] - 1s 735us/step - loss: 0.5375 - accuracy: 0.7369
Epoch 43/100
804/804 [==============================] - 1s 737us/step - loss: 0.5374 - accuracy: 0.7375
Epoch 44/100
804/804 [==============================] - 1s 724us/step - loss: 0.5375 - accuracy: 0.7377
Epoch 45/100
804/804 [==============================] - 1s 728us/step - loss: 0.5375 - accuracy: 0.7361
Epoch 46/100
804/804 [==============================] - 1s 853us/step - loss: 0.5367 - accuracy: 0.7386
Epoch 47/100
804/804 [==============================] - 1s 895us/step - loss: 0.5367 - accuracy: 0.7377
Epoch 48/100
804/804 [==============================] - 1s 813us/step - loss: 0.5373 - accuracy: 0.7372
Epoch 49/100
804/804 [==============================] - 1s 745us/step - loss: 0.5364 - accuracy: 0.7392
Epoch 50/100
804/804 [==============================] - 1s 734us/step - loss: 0.5368 - accuracy: 0.7378
Epoch 51/100
804/804 [==============================] - 1s 759us/step - loss: 0.5363 - accuracy: 0.7385
Epoch 52/100
804/804 [==============================] - 1s 745us/step - loss: 0.5363 - accuracy: 0.7374
Epoch 53/100
804/804 [==============================] - 1s 770us/step - loss: 0.5361 - accuracy: 0.7384
Epoch 54/100
804/804 [==============================] - 1s 723us/step - loss: 0.5362 - accuracy: 0.7375
Epoch 55/100
804/804 [==============================] - 1s 729us/step - loss: 0.5358 - accuracy: 0.7379
Epoch 56/100
804/804 [==============================] - 1s 722us/step - loss: 0.5362 - accuracy: 0.7383
Epoch 57/100
804/804 [==============================] - 1s 706us/step - loss: 0.5358 - accuracy: 0.7382
Epoch 58/100
804/804 [==============================] - 1s 715us/step - loss: 0.5358 - accuracy: 0.7391
Epoch 59/100
804/804 [==============================] - 1s 708us/step - loss: 0.5358 - accuracy: 0.7382
Epoch 60/100
804/804 [==============================] - 1s 701us/step - loss: 0.5359 - accuracy: 0.7379
Epoch 61/100
804/804 [==============================] - 1s 723us/step - loss: 0.5354 - accuracy: 0.7388
Epoch 62/100
804/804 [==============================] - 1s 736us/step - loss: 0.5353 - accuracy: 0.7378
Epoch 63/100
804/804 [==============================] - 1s 710us/step - loss: 0.5351 - accuracy: 0.7394
Epoch 64/100
804/804 [==============================] - 1s 704us/step - loss: 0.5360 - accuracy: 0.7381
Epoch 65/100
804/804 [==============================] - 1s 709us/step - loss: 0.5348 - accuracy: 0.7388
Epoch 66/100
804/804 [==============================] - 1s 700us/step - loss: 0.5347 - accuracy: 0.7389
Epoch 67/100
804/804 [==============================] - 1s 694us/step - loss: 0.5349 - accuracy: 0.7386
Epoch 68/100
804/804 [==============================] - 1s 693us/step - loss: 0.5349 - accuracy: 0.7400
Epoch 69/100
804/804 [==============================] - 1s 705us/step - loss: 0.5349 - accuracy: 0.7391
Epoch 70/100
804/804 [==============================] - 1s 719us/step - loss: 0.5350 - accuracy: 0.7382
Epoch 71/100
804/804 [==============================] - 1s 712us/step - loss: 0.5351 - accuracy: 0.7387
Epoch 72/100
804/804 [==============================] - 1s 705us/step - loss: 0.5345 - accuracy: 0.7394
Epoch 73/100
804/804 [==============================] - 1s 714us/step - loss: 0.5351 - accuracy: 0.7394
Epoch 74/100
804/804 [==============================] - 1s 732us/step - loss: 0.5349 - accuracy: 0.7383
Epoch 75/100
804/804 [==============================] - 1s 733us/step - loss: 0.5342 - accuracy: 0.7401
Epoch 76/100
804/804 [==============================] - 1s 724us/step - loss: 0.5344 - accuracy: 0.7394
Epoch 77/100
804/804 [==============================] - 1s 728us/step - loss: 0.5342 - accuracy: 0.7385
Epoch 78/100
804/804 [==============================] - 1s 740us/step - loss: 0.5340 - accuracy: 0.7395
Epoch 79/100

804/804 [==============================] - 1s 744us/step - loss: 0.5342 - accuracy: 0.7389
Epoch 80/100
804/804 [==============================] - 1s 732us/step - loss: 0.5345 - accuracy: 0.7386
Epoch 81/100
804/804 [==============================] - 1s 723us/step - loss: 0.5340 - accuracy: 0.7400
Epoch 82/100
804/804 [==============================] - 1s 741us/step - loss: 0.5341 - accuracy: 0.7385
Epoch 83/100
804/804 [==============================] - 1s 742us/step - loss: 0.5339 - accuracy: 0.7394
Epoch 84/100
804/804 [==============================] - 1s 757us/step - loss: 0.5341 - accuracy: 0.7391
Epoch 85/100
804/804 [==============================] - 1s 768us/step - loss: 0.5338 - accuracy: 0.7387
Epoch 86/100
804/804 [==============================] - 1s 703us/step - loss: 0.5338 - accuracy: 0.7388
Epoch 87/100
804/804 [==============================] - 1s 718us/step - loss: 0.5339 - accuracy: 0.7388
Epoch 88/100
804/804 [==============================] - 1s 732us/step - loss: 0.5335 - accuracy: 0.7402
Epoch 89/100
804/804 [==============================] - 1s 785us/step - loss: 0.5338 - accuracy: 0.7386
Epoch 90/100
804/804 [==============================] - 1s 729us/step - loss: 0.5338 - accuracy: 0.7395
Epoch 91/100
804/804 [==============================] - 1s 733us/step - loss: 0.5332 - accuracy: 0.7394
Epoch 92/100
804/804 [==============================] - 1s 726us/step - loss: 0.5335 - accuracy: 0.7392
Epoch 93/100
804/804 [==============================] - 1s 756us/step - loss: 0.5332 - accuracy: 0.7385
Epoch 94/100
804/804 [==============================] - 1s 738us/step - loss: 0.5336 - accuracy: 0.7392
Epoch 95/100
804/804 [==============================] - 1s 739us/step - loss: 0.5333 - accuracy: 0.7397
Epoch 96/100
804/804 [==============================] - 1s 757us/step - loss: 0.5334 - accuracy: 0.7391
Epoch 97/100
804/804 [==============================] - 1s 734us/step - loss: 0.5333 - accuracy: 0.7383
Epoch 98/100
804/804 [==============================] - 1s 737us/step - loss: 0.5334 - accuracy: 0.7399
Epoch 99/100
804/804 [==============================] - 1s 734us/step - loss: 0.5331 - accuracy: 0.7388
Epoch 100/100
804/804 [==============================] - 1s 728us/step - loss: 0.5332 - accuracy: 0.7401

In [58]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5606 - accuracy: 0.7248 - 251ms/epoch - 936us/step
Loss: 0.5606200098991394, Accuracy: 0.724781334400177

## Attempt 3: Removing SPECIAL_CONSIDERATIONS data

In [101]:
application_df["SPECIAL_CONSIDERATIONS_N"].value_counts()

1    34272
0       27
Name: SPECIAL_CONSIDERATIONS_N, dtype: int64

Special considerations that are approved are very rare, so lets try eliminating these as a feature in our model.

In [102]:
application_df_3 = application_df.drop(columns=["SPECIAL_CONSIDERATIONS_N", "SPECIAL_CONSIDERATIONS_Y"])
application_df_3

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [108]:
# Split our preprocessed data into our features and target arrays
y = application_df_3.IS_SUCCESSFUL.values
X = application_df_3.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [109]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [110]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=41))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 80)                3360

 dense_10 (Dense)            (None, 30)                2430

 dense_11 (Dense)            (None, 1)                 31

=================================================================
Total params: 5821 (22.74 KB)
Trainable params: 5821 (22.74 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [111]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [112]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 745us/step - loss: 0.5717 - accuracy: 0.7175
Epoch 2/100
804/804 [==============================] - 1s 793us/step - loss: 0.5586 - accuracy: 0.7257
Epoch 3/100
804/804 [==============================] - 1s 720us/step - loss: 0.5554 - accuracy: 0.7274
Epoch 4/100
804/804 [==============================] - 1s 742us/step - loss: 0.5537 - accuracy: 0.7275
Epoch 5/100
804/804 [==============================] - 1s 701us/step - loss: 0.5524 - accuracy: 0.7290
Epoch 6/100
804/804 [==============================] - 1s 710us/step - loss: 0.5520 - accuracy: 0.7284
Epoch 7/100
804/804 [==============================] - 1s 714us/step - loss: 0.5506 - accuracy: 0.7297
Epoch 8/100
804/804 [==============================] - 1s 715us/step - loss: 0.5502 - accuracy: 0.7296
Epoch 9/100
804/804 [==============================] - 1s 708us/step - loss: 0.5494 - accuracy: 0.7304
Epoch 10/100
804/804 [==============================] - 1s 715us/step - loss: 0.5488 - accuracy: 0.7316
Epoch 11/100
804/804 [==============================] - 1s 708us/step - loss: 0.5483 - accuracy: 0.7316
Epoch 12/100
804/804 [==============================] - 1s 718us/step - loss: 0.5484 - accuracy: 0.7309
Epoch 13/100
804/804 [==============================] - 1s 705us/step - loss: 0.5476 - accuracy: 0.7306
Epoch 14/100
804/804 [==============================] - 1s 718us/step - loss: 0.5475 - accuracy: 0.7306
Epoch 15/100
804/804 [==============================] - 1s 710us/step - loss: 0.5468 - accuracy: 0.7328
Epoch 16/100
804/804 [==============================] - 1s 723us/step - loss: 0.5466 - accuracy: 0.7317
Epoch 17/100
804/804 [==============================] - 1s 716us/step - loss: 0.5465 - accuracy: 0.7312
Epoch 18/100
804/804 [==============================] - 1s 717us/step - loss: 0.5461 - accuracy: 0.7329
Epoch 19/100
804/804 [==============================] - 1s 711us/step - loss: 0.5458 - accuracy: 0.7322
Epoch 20/100
804/804 [==============================] - 1s 723us/step - loss: 0.5457 - accuracy: 0.7318
Epoch 21/100
804/804 [==============================] - 1s 720us/step - loss: 0.5455 - accuracy: 0.7325
Epoch 22/100
804/804 [==============================] - 1s 718us/step - loss: 0.5452 - accuracy: 0.7342
Epoch 23/100
804/804 [==============================] - 1s 701us/step - loss: 0.5447 - accuracy: 0.7337
Epoch 24/100
804/804 [==============================] - 1s 720us/step - loss: 0.5449 - accuracy: 0.7331
Epoch 25/100
804/804 [==============================] - 1s 711us/step - loss: 0.5445 - accuracy: 0.7342
Epoch 26/100
804/804 [==============================] - 1s 735us/step - loss: 0.5441 - accuracy: 0.7334
Epoch 27/100
804/804 [==============================] - 1s 711us/step - loss: 0.5441 - accuracy: 0.7337
Epoch 28/100
804/804 [==============================] - 1s 716us/step - loss: 0.5443 - accuracy: 0.7343
Epoch 29/100
804/804 [==============================] - 1s 707us/step - loss: 0.5437 - accuracy: 0.7333
Epoch 30/100
804/804 [==============================] - 1s 716us/step - loss: 0.5438 - accuracy: 0.7330
Epoch 31/100
804/804 [==============================] - 1s 703us/step - loss: 0.5440 - accuracy: 0.7345
Epoch 32/100
804/804 [==============================] - 1s 722us/step - loss: 0.5433 - accuracy: 0.7346
Epoch 33/100
804/804 [==============================] - 1s 723us/step - loss: 0.5432 - accuracy: 0.7338
Epoch 34/100
804/804 [==============================] - 1s 716us/step - loss: 0.5431 - accuracy: 0.7340
Epoch 35/100
804/804 [==============================] - 1s 726us/step - loss: 0.5427 - accuracy: 0.7348
Epoch 36/100
804/804 [==============================] - 1s 785us/step - loss: 0.5429 - accuracy: 0.7339
Epoch 37/100
804/804 [==============================] - 1s 845us/step - loss: 0.5426 - accuracy: 0.7359
Epoch 38/100
804/804 [==============================] - 1s 831us/step - loss: 0.5425 - accuracy: 0.7356
Epoch 39/100
804/804 [==============================] - 1s 806us/step - loss: 0.5424 - accuracy: 0.7353
Epoch 40/100
804/804 [==============================] - 1s 833us/step - loss: 0.5423 - accuracy: 0.7348
Epoch 41/100
804/804 [==============================] - 1s 816us/step - loss: 0.5420 - accuracy: 0.7361
Epoch 42/100
804/804 [==============================] - 1s 828us/step - loss: 0.5417 - accuracy: 0.7353
Epoch 43/100
804/804 [==============================] - 1s 817us/step - loss: 0.5419 - accuracy: 0.7356
Epoch 44/100
804/804 [==============================] - 1s 823us/step - loss: 0.5415 - accuracy: 0.7350
Epoch 45/100
804/804 [==============================] - 1s 819us/step - loss: 0.5419 - accuracy: 0.7361
Epoch 46/100
804/804 [==============================] - 1s 829us/step - loss: 0.5418 - accuracy: 0.7354
Epoch 47/100
804/804 [==============================] - 1s 833us/step - loss: 0.5413 - accuracy: 0.7351
Epoch 48/100
804/804 [==============================] - 1s 843us/step - loss: 0.5415 - accuracy: 0.7358
Epoch 49/100
804/804 [==============================] - 1s 826us/step - loss: 0.5411 - accuracy: 0.7358
Epoch 50/100
804/804 [==============================] - 1s 820us/step - loss: 0.5412 - accuracy: 0.7364
Epoch 51/100
804/804 [==============================] - 1s 768us/step - loss: 0.5412 - accuracy: 0.7360
Epoch 52/100
804/804 [==============================] - 1s 747us/step - loss: 0.5410 - accuracy: 0.7362
Epoch 53/100
804/804 [==============================] - 1s 750us/step - loss: 0.5409 - accuracy: 0.7364
Epoch 54/100
804/804 [==============================] - 1s 732us/step - loss: 0.5408 - accuracy: 0.7360
Epoch 55/100
804/804 [==============================] - 1s 735us/step - loss: 0.5412 - accuracy: 0.7357
Epoch 56/100
804/804 [==============================] - 1s 741us/step - loss: 0.5406 - accuracy: 0.7358
Epoch 57/100
804/804 [==============================] - 1s 765us/step - loss: 0.5406 - accuracy: 0.7355
Epoch 58/100
804/804 [==============================] - 1s 739us/step - loss: 0.5409 - accuracy: 0.7368
Epoch 59/100
804/804 [==============================] - 1s 749us/step - loss: 0.5407 - accuracy: 0.7364
Epoch 60/100
804/804 [==============================] - 1s 753us/step - loss: 0.5407 - accuracy: 0.7359
Epoch 61/100
804/804 [==============================] - 1s 737us/step - loss: 0.5398 - accuracy: 0.7374
Epoch 62/100
804/804 [==============================] - 1s 738us/step - loss: 0.5405 - accuracy: 0.7364
Epoch 63/100
804/804 [==============================] - 1s 740us/step - loss: 0.5399 - accuracy: 0.7360
Epoch 64/100
804/804 [==============================] - 1s 732us/step - loss: 0.5401 - accuracy: 0.7360
Epoch 65/100
804/804 [==============================] - 1s 736us/step - loss: 0.5398 - accuracy: 0.7371
Epoch 66/100
804/804 [==============================] - 1s 730us/step - loss: 0.5396 - accuracy: 0.7369
Epoch 67/100
804/804 [==============================] - 1s 727us/step - loss: 0.5400 - accuracy: 0.7365
Epoch 68/100
804/804 [==============================] - 1s 729us/step - loss: 0.5397 - accuracy: 0.7359
Epoch 69/100
804/804 [==============================] - 1s 731us/step - loss: 0.5394 - accuracy: 0.7368
Epoch 70/100
804/804 [==============================] - 1s 718us/step - loss: 0.5400 - accuracy: 0.7369
Epoch 71/100
804/804 [==============================] - 1s 722us/step - loss: 0.5394 - accuracy: 0.7367
Epoch 72/100
804/804 [==============================] - 1s 735us/step - loss: 0.5394 - accuracy: 0.7369
Epoch 73/100
804/804 [==============================] - 1s 721us/step - loss: 0.5394 - accuracy: 0.7366
Epoch 74/100
804/804 [==============================] - 1s 735us/step - loss: 0.5394 - accuracy: 0.7358
Epoch 75/100
804/804 [==============================] - 1s 743us/step - loss: 0.5392 - accuracy: 0.7362
Epoch 76/100
804/804 [==============================] - 1s 734us/step - loss: 0.5394 - accuracy: 0.7372
Epoch 77/100
804/804 [==============================] - 1s 732us/step - loss: 0.5392 - accuracy: 0.7370
Epoch 78/100
804/804 [==============================] - 1s 720us/step - loss: 0.5393 - accuracy: 0.7371
Epoch 79/100

804/804 [==============================] - 1s 737us/step - loss: 0.5387 - accuracy: 0.7367
Epoch 80/100
804/804 [==============================] - 1s 731us/step - loss: 0.5391 - accuracy: 0.7363
Epoch 81/100
804/804 [==============================] - 1s 747us/step - loss: 0.5389 - accuracy: 0.7363
Epoch 82/100
804/804 [==============================] - 1s 731us/step - loss: 0.5387 - accuracy: 0.7369
Epoch 83/100
804/804 [==============================] - 1s 737us/step - loss: 0.5389 - accuracy: 0.7369
Epoch 84/100
804/804 [==============================] - 1s 740us/step - loss: 0.5391 - accuracy: 0.7366
Epoch 85/100
804/804 [==============================] - 1s 754us/step - loss: 0.5385 - accuracy: 0.7374
Epoch 86/100
804/804 [==============================] - 1s 719us/step - loss: 0.5384 - accuracy: 0.7373
Epoch 87/100
804/804 [==============================] - 1s 727us/step - loss: 0.5385 - accuracy: 0.7371
Epoch 88/100
804/804 [==============================] - 1s 821us/step - loss: 0.5388 - accuracy: 0.7374
Epoch 89/100
804/804 [==============================] - 1s 824us/step - loss: 0.5379 - accuracy: 0.7374
Epoch 90/100
804/804 [==============================] - 1s 824us/step - loss: 0.5388 - accuracy: 0.7374
Epoch 91/100
804/804 [==============================] - 1s 711us/step - loss: 0.5386 - accuracy: 0.7369
Epoch 92/100
804/804 [==============================] - 1s 741us/step - loss: 0.5383 - accuracy: 0.7371
Epoch 93/100
804/804 [==============================] - 1s 724us/step - loss: 0.5382 - accuracy: 0.7377
Epoch 94/100
804/804 [==============================] - 1s 719us/step - loss: 0.5381 - accuracy: 0.7372
Epoch 95/100
804/804 [==============================] - 1s 724us/step - loss: 0.5385 - accuracy: 0.7372
Epoch 96/100
804/804 [==============================] - 1s 724us/step - loss: 0.5380 - accuracy: 0.7378
Epoch 97/100
804/804 [==============================] - 1s 741us/step - loss: 0.5379 - accuracy: 0.7376
Epoch 98/100
804/804 [==============================] - 1s 720us/step - loss: 0.5380 - accuracy: 0.7373
Epoch 99/100
804/804 [==============================] - 1s 722us/step - loss: 0.5378 - accuracy: 0.7370
Epoch 100/100
804/804 [==============================] - 1s 712us/step - loss: 0.5381 - accuracy: 0.7379

In [113]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5505 - accuracy: 0.7371 - 244ms/epoch - 911us/step
Loss: 0.5505040287971497, Accuracy: 0.7371428608894348

In [114]:
# Save and export your results to an HDF5 file. Name the file AlphabetSoupCharity.h5.
nn.save("Models/AlphabetSoupCharity_Optimization.h5", save_format="h5")

C:\Users\jkaum\anaconda\envs\dev\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(